@import "tailwindcss";

/* Design tokens (boleh dipakai di Tailwind config) */
:root {
  --background: #ffffff;
}

/* Dark mode background saja */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset minimal */
body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
